.txt {
color: rgb(98, 147, 211);
font-size: 35px;
} 
.button {
  background-color: rgb(98, 147, 211);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}
.icon1 {
  display: inline-block;
}
.icon2 {
  display: none;
}