.input{
    border: dashed blue;
    display: inline-block;
    font-size: 17px;
    border-radius: 8px;
}

.button {
  background-color: rgb(98, 147, 211);
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}
.geo {
  background-color: rgb(98, 147, 211);
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}

.window {
  margin-top: 10px;
  border: solid;
  height: 600px;
  width: 480px;
  border-color: rgb(98, 147, 211);
}

.user{
  color: black;
  display: block;
  font-size: 16px;
  text-align: right;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid blue;
  margin-right: 15px;
  margin-left: 300px;
}
.answer{
  color: black;
  display: block;
  font-size: 16px;
  text-align: right;
  border-radius: 3px;
  padding: 3px;
  text-align: left;
  border: 1px solid red;
  margin-left: 15px;
  margin-right: 300px;